/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

header{
    background-color: white;
    font-size: 18px;
}

nav a:hover{
    color: #5A67D8;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

.overview-hero-image img{
    height: 100px;
    width: 100px;
    float: left;
}

.overview-hero{
    background-color: #E2E8F0;
}


.cards img{
    height: 100px;
    width: 100px;
    /*float: left;*/
}

.learn-about h2{
    font-size: 24px;
    color: #48BB78;

}

.learn-about h3{
    font-size: 21px;
    color: #48BB78;

}

.cards{
    display: grid;
    grid-template-areas: 'card card card ';
    column-gap: 20px;
   
    /*border-radius: 5px;*/
    /*grid-gap: 10px;
    margin: 0px;*/
}

.cards > .card{
    /*border-style: dotted;*/
    box-shadow: 2px 5px 5px #88888871;
    border-radius: 5px;
    
    
}

.card{
    
}

.testing{
    background-color: #4A5568;
    color: white;
}

/*
body {
    margin: 0;
    font-size: 16px;

    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer' ;
    grid-gap: 10px;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



header{
    background-color: white;
    font-size: 18px;
}


main{
    background-color: blue;
}

footer{
    background-color: green;
}

.overview-hero{
    background-color: rgb(224, 224, 235);
}

.testing{
    background-color: rgb(82, 82, 122);

}

.newsletter{
    background-color: rgb(41, 163, 41);
}

footer{
    background-color: rgb(82, 82, 122);
}

.cards{
    display: grid;
    grid-template-areas:
        'card card card ';
    grid-gap: 10px;
    margin: 0px;
}*/